<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idezetek</title>
</head>
<style>
    body{
        background-color: #282b30;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0px;
        color: #ffffff;
    }
    #quot{
        margin: auto;
        text-align: center;
        font-size: 8vw;
        
        }

</style>
 <body>
    <p id="quot">"<%= message.quote%>" - <%= message.author%></p>

    
</body>
</html>